<!--
  Generated template for the Today page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  <ion-card>
    <div class="img">
      <img src="../assets/icon/favicon.ico">
      <div class="diff">
        {{diff}}
      </div>
    </div>
    <ion-card-header>
      Weekly Summary
    </ion-card-header>

    <ion-card-content>
      <div class="weekly_details">
        Due Date is <br>{{duedate}}
      </div>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-list>
      <ion-item> Health<br> This is health stuff
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item> Food<br> This is Food stuff
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
