
page-today {
  .weekly_details {
    font-size: 12px;
  }

  .img {
    text-align: center;
    position: relative;
    float: right;
    margin-right: 30px;
    margin-top: 20px;
  }

  .diff {
    position: absolute;
    bottom: 36%;
    left: 37%;
  }
}
