<ion-header no-shadow no-border>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <super-tabs [rootNavCtrl]="navCtrl" [selectedTabIndex]="0"  height="100%" tabsColor="light"
   toolbarColor="secondary" sliderColor="primary">
    <super-tab [tabRoot]="page1" [title]="showTitles? 'Today' : ''" [icon]="showIcons? 'time': ''"></super-tab>
    <super-tab [tabRoot]="page2" [title]="showTitles? 'Health' : ''" [icon]="showIcons? 'heart' : ''"></super-tab>
    <super-tab [tabRoot]="page3" [title]="showTitles? 'Food' : ''" [icon]="showIcons? 'nutrition' : ''"></super-tab>
    <super-tab [tabRoot]="page4" [title]="showTitles? 'Tools' : ''" [icon]="showIcons? 'construct' : ''"></super-tab>
  </super-tabs>
</ion-content>
