<ion-menu [content]="content">
  <ion-content>
    <ion-list>
      <button ion-item menuClose *ngFor="let item of menuItems" (click)="pushPage(item)">{{ item.name }}</button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" [rootParams]="rootParams" #content></ion-nav>
