<!--
  Generated template for the Loginactivity page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content >
  <super-tabs [rootNavCtrl]="navCtrl" [selectedTabIndex]="0"  height="100%" tabsColor="primary"
   toolbarColor="light" sliderColor="primary">
    <super-tab [tabRoot]="page1" [title]="showTitles? 'SignIn' : ''" ></super-tab>
    <super-tab [tabRoot]="page2" [title]="showTitles? 'SignUp' : ''"></super-tab>
  </super-tabs>
</ion-content>
