<!--
  Generated template for the Signup page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content >
  <ion-item>
    <ion-label >Username</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label >Email ID</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label >Conform Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label >Date</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item >
    <ion-label >Mom</ion-label>
    <ion-toggle checked="true" ></ion-toggle>
  </ion-item>
<div class="btn"><br>
  <button ion-button (click)="pushPage()" round>Register</button>
</div>

</ion-content>
